<table>
    <tr>
        <th>Select</th>
        <th>Username</th>
        <th>Password</th>
        <th>Active</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>
            <div class="form-group form-check">
                <input (change)="onSelect(user,$event)" type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>
        </td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.active}}</td>
        <td>
            <button (click)="onClickView(user)">view</button>
        </td>
    </tr>
</table>