/* You can add global styles to this file, and also import other style files */

#wrapper {
    overflow-x: hidden;
 }

 @media (min-width: 768px) 
 {
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }
    
      #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
 }

 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

form 
{
  width: 300px;
  margin: 10px;
}

h1{
    margin:10px
}

h3{
    margin:20px
}